<div class="post-a-comment">
	<h3 class="h2 h2-comments">Post a Comment</h3>
	<%= form_for [ @article, @comment ] do |f| %>
		<div class="row">
			<div class="form-group col-xs-12">
				<%= f.label :author_name, "Name" %><br />
				<%= f.text_field :author_name, class: 'form-control' %>
			</div>
		</div>

		<div class="row v-offset-10">
			<div class="form-group col-xs-12">
				<%= f.label :body, "Comment" %><br />
				<%= f.text_area :body, class: 'form-control', rows: '8' %>
			</div>
		</div>

		<div class="row v-offset-10">
			<div class="form-group col-xs-12">
				<%= f.submit 'Submit' %>
			</div>
		</div>
	<% end %>
</div>
