<%= link_to image_tag("feed-icon-14x14.png"), articles_url(format: "rss") %>

<% content_for :head, auto_discovery_link_tag(:rss, articles_url) %>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    	<% @articles.each do |article| %>
        <div class="post-preview">
          <%= link_to article_path(article) do %>
            <h2 class="post-title">
                <%= article.title %>
            </h2>
          <% end %>
          <p class="post-meta">Posted by <%= link_to article.author.username, author_path(article.author) %> on <%= article.created_at %></p>
        </div>
        <hr>
    	<% end %>

      <% if logged_in? %>
      	<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
      <% end %>
    </div>
  </div>
</div>

<br>

<%= render 'footer' %>
