<%= render 'shared/shim' %>
<%= render 'shared/navigation' %>
<%= render 'shared/header' %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">

      <div class="row">
        <div class="col-xs-12 section-container popular-container">

          <% @most_popular_articles.each_with_index do |article, index| %>
          <div class="row row-article">
            <div class="col-sm-2 col-xs-12 col-position">
              <div class="image-background" <%= show_image_if_exists(article) %>></div>
              <div class="color-overlay"></div>
              <div class="text-overlay">
                <p><%= index + 1 %></p>
              </div>
            </div>
            <div class="col-sm-10 col-xs-12 col-article post-preview">
              <h2 class="post-title"><%= link_to article.title, article_path(article) %></h2>
              <p class="post-meta">by <%= link_to article.author.username, author_path(article.author) %>
                 on <%= article.created_at.strftime('%b %d, %Y') %> | <%= article.view_count %> views</p>
            </div>
          </div>      
          <div class="row">
            <hr class="hr-popular">
          </div>
          <% end %>

          <div class="row">
            <div class="container-bottom-links text-center">
              <p><%= link_to "Go back to index", root_path %></p>
            </div>
          </div>

        </div><!-- section-container -->
      </div><!-- row -->

    </div><!-- col-* -->
  </div><!-- row -->
</div><!-- container -->

<%= render 'shared/footer' %>
