<%= render 'shared/shim' %>
<%= render 'shared/navigation' %>
<%= render 'shared/header' %>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 
                col-sm-12 col-xs-12">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-background">

				<p id="notice"><%= notice %></p>

				<p>Email: <%= @author.email %></p>

				<% if @author.has_articles? %>
					<h2>Articles</h2>

					<ul>
						<% @author.articles.each do |article| %>
							<li><%= link_to article.title, article_path(article) %></li>
						<% end %>
					</ul>
				<% end %>

				<% if logged_in? %>
					<%= link_to 'Edit', edit_author_path(@author) %> |
				<% end %>
				<%= link_to 'Back', authors_path %>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
