<p id="notice"><%= notice %></p>
<h1><%= @author.username %></h1>
<p>
  Email: <%= @author.email %>
</p>
<% if @author.has_articles? %>
	<br />
	<h2>Articles</h2>
	<br />
	<ul>
		<% @author.articles.each do |article| %>
			<li>· <%= link_to article.title, article_path(article) %></li>
		<% end %>
	</ul>
	<br />
<% end %>
<br />
<% if logged_in? %>
	<%= link_to 'Edit', edit_author_path(@author) %> |
<% end %>
<%= link_to 'Back', authors_path %>
