<%= render 'shared/shim' %>
<%= render 'shared/navigation' %>
<%= render 'shared/header' %>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 
                col-sm-12 col-xs-12">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-background">

        <ul id="articles">
        	<% @tag.articles.each do |article| %>
        		<li><%= link_to article.title, article_path(article) %></li>
        	<% end %>
        </ul>

        <%= link_to "Tags List", tags_path %> | <%= link_to "Articles List", articles_path %>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
